.blog h2{
  font-family: Merriweather, Lato, Arial !important;
}


.blog p{
  font-family: Merriweather, Lato, Arial !important;
}

#blog-page div h1{
  font-size: 44px;
  color: #00B9AB !important;
  font-weight: 200 !important;
  margin-top: 40px;
}

.blog * p, .blog *{
  color: black;
}

.blog * div, .blog div, .blog * li {
  margin-bottom: 1%;
  font-family: Merriweather;
  font-size: 15px;
}


#blog-page{
  // display: none !important;
  // font-size: 20px;
  color: #ccc;
}

.blog-hide{
  display: none !important;
  // font-size: 20px;
  color: #ccc;
}

.blog-show{
  display: show !important;
  // font-size: 20px;
  color: #ccc;

}

.blog * p{
  line-height:1px;
}

.blog * a {
  color: #00B9AB !important;
}

.blog ul ~ p{
  // font-family: Merriweather;
  // font-size: 15px;
  // letter-spacing: 0px !important;
}

#blog-page > div > p{
  font-family: Merriweather;
  font-size: 15px;
  letter-spacing: 0px !important;
  word-spaccing: 0px;
  margin-bottom: 0px;
}

.blog h3{
  color: #00B9AB !important;
  font-size: 30px;
}

.no-bullet{
  list-style-type: none;
}

.ntp-config p{
  margin-top: 15px;
  line-height: 0px !important;
  font-size: 15px;
}

.panel.command, .panel.command p{
  // background-color: #00B9AB;
  background-color: black;
  color: #ccc !important;
}

.panel.text-doc{
  backgrond-color: #ccc;
  color: black;
}

.unique-issue{
  margin: 30px;
}

.post2{
  background-color: black;
}
