a{
  font-family: Merriweather, Lato, Arial !important;
  font-weight: 100 !important;
  // letter-spacing: 5px !important;
  word-spacing: 5px !important;
  /*font-family:Lato;*/
}

.top-bar-section ul li>a {
  font-family: Merriweather, Lato, Arial !important;
  font-weight:100 !important;
  letter-spacing: 2px !important;
  word-spacing: 5px !important;
}

p{
  /*font-family:Advent+Pro:100 !important;*/
  /*font-family:Merriweather:300 !important;*/
  font-family: Merriweather, Lato, Arial !important;
  font-weight: 100 !important;
  letter-spacing: 2px !important;
  word-spacing: 5px !important;
}

h1, h1, h1,h1, h2, h3, h4, h5, h6{
  /*font-family: Orbitron:900, Helvetica !important;*/
  font-family:  Flamenco, Helvetica, sans-serif !important;
  font-weight: 100 !important;
  letter-spaccing: 5px !important;
}

/*TOP BAR CYBERDESINGS AND NAME */
#top, .top-bar .name h1 a{
  font-family: Flamenco, Helvetica, sans-serif !important;
  font-weight: 100 !important;
  letter-spaccing: 5px !important;
  font-size: 30px;
}

// EMAIL CONTACT
.email-contact{
  font-family: Flamenco, Helvetica, sans-serif !important;
  font-weight: lighter;
  /*text-shadow: 1px 3px green;*/
  // font-size: 35px;
}
