html{
	/*background-image: url("../images/background.png");*/
	/*background-image: url("../images/bg-2-full.png");*/

}


body{
	/*background-image: url("../images/background.png");*/
	/*background-image: url("../images/bg-2-full.jpg");*/


	/*background-repeat: no-repeat;*/
	/*font-family: "Mondo Bongo", "Atomic Age", "Helvetica", "Sans";*/
	/*background-color: #cccccc;*/
}

/*main .portfolio-preview, portfolio-preview{
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 5%;
}*/




.about{
	/*background-image: url("../images/bg-1-full.jpg");*/
	/*background-color: #FF0000;*/
	/*float:right;*/

}

.subsection {
	/*margin-left: 30%;
	margin-right: 30%;*/
	display: block;
	padding-bottom: 0%;
	/*margin-left: 15px;*/
	/*font-weight: bold;*/
	/*letter-spacing: 2px;*/
}

.subsection *{
	/*font-weight: bold;*/
	/*line-height: 200%;*/
	/*letter-spacing: 2px;*/
}


.name{
	padding-bottom: 3%;
	font-weight: normal;
}

h1 .aboutme{
	font-weight: normal;
}
#top{
	color: #00B9AB !important;
}

.about, .about p{

	/*color: #ccc;*/
	background-color: black;

}

.about{
	/*background-color: #0E3636;*/
}

.top-bar-section ul li>a {
	color: #00C1AE;
}

.top-bar .name h1 a{
	color: #00B9AB;
}

.panel{
	margin-bottom: 0;
}

/*
.pro_photo{
float:left;
clear:both;
margin-left: 30%;
margin-right: 30%;
padding-left: 40%;
padding-right: 40%;
max-width: 25%;
display: inline;
margin-left: 10%;
margin-right: 15%;
padding-top: 5%;
max-height: 450px;
}*/



.section-heading{
	margin-top:0;
	color: #00B9AB;
	/*text-shadow: 0px 3px white, 7px 0px #00B9AB, 3px 0px #00B9AB, 7px 0px #00B9AB;*/
	/*text-shadow: -1px -8px white, 1px 0px white,1px 0px white,1px 0px white;
	color: white;
	text-shadow: -4px 0 black, 0 1px black, 4px 0 black, 0 -1px black;*/
}

h1 small, small{
	color: white;
}

.panel h1{
	color: #00B9AB;

}
.aboutme{
	color: #00B9AB;
}

.name{
	color: #00B9AB;
}

.panel p{
	color: white;
}

.portfolio{
	/*background-image: url("../images/bg-2-full.jpg");*/
	/*background-image: url("../images/bluehex2.png");*/
	background-image: url("../images/bluehex3.png");
	position: relative;
	max-width: 100%;
	overflow: hidden;
}



html *{
	margin-right:0;
	padding-right:0;
}

#portfolio{
	padding-top: 6%;
	padding-bottom: 12%;

}

.policonnect img{
	margin-right: 0px;
}
/*
html .js .flexbox .flexboxlegacy .canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths*/


/*
.main-nav li a{
text-align: center;
margin-left: auto;
margin-right: auto;
display: block;
/*font-stretch: semi-expanded;*/
/*font-size: 30px;*/
/*margin-right: 130px;
}*/

/*body nav{
background:gray;
color: ;
}

ul li{
list-style: none;
}

body a{
text-decoration: none;
box-shadow: 3px 3px 3px #888888;
}

body img{
box-shadow: 10px 10px 5px black;


}


nav{
font-size: 300%;
}*/
