#springboard{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3%;
}

// #springboard {
//   font-size: 120%;
// }


.description{
  font-size: 70%;
}


.projects li{
  list-style-type: none !important;
}

//
// #springboard > ul.projects > li:nth-child(1) > a{
//   list-style-type: none;
//
// }
