.col_field{

  text-align:center;
  /*margin-right: 20px;*/

}


.field_block{

  text-align:center;
  margin-right: 20px;

}


input[type="text"] {
  margin-left: auto;
  margin-right: auto;
}


ol.phpfmg_form input, ol.phpfmg_form textarea, ol.phpfmg_form select {
  margin-right: auto;
  margin-left: auto;
}

li{
  list-style-type: none;
}


div#contact{
  /*background-color: #BE774C;*/
  /*background-image: url("../images/bg-5-full.jpg");*/

}


div.phpfooter{
background-color: black;
}

/*.contact-form *{
  color: #ccc;
}*/

.contact-form input[type="submit"]{
color: black;
}

.contact-form input[type="text"], .contact-form .text-select{
  color: black;
}

.contact-form select[name="field_0"]{
  color:black;
}

.contact-padding{
  padding-top: 3%;
}

.form_submit_block{
  padding-bottom: 5%;

}

.col_field textarea[name="field_4"]{
  color:black;
}

.col-field textarea[name="field_4"]{
  margin-left: auto%;
  margin-right: auto%;
  /*display: block;*/
}

li .field_block #phpfmg_captcha_div{
  margin-left: auto;
  margin-right: auto;
}


 /*dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td{
  margin:auto;
}*/

/*IDEALLY THIS WOULD BE MADE MORE SPECIFIC HERE 3 DIV AUTO*/
div{
  margin:auto;
}


/*div textarea[id="g-recaptcha-response"]{
  margin:auto;
}*/


/*
<textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea>*/

/*.controls label {
    display: inline-block;
    width: 90px;
    height: 20px;
    text-align: center;
    vertical-align: top;
    padding-top: 40px;
}
.controls input {
    display: block;
    margin: 0 auto -40px;
}*/
