.social a img{
width: 3%;
height: 3%;
display: inline;
 vertical-align: text-top;
 float: left;
  clear: both;
}

.socal a{
max-width: 12px;
max-height: 12px;
	position: inline;	

}

.socal{
	padding-right 10%;
}

nav ul li{
display: inline;

}

nav{
text-align: center;

padding-bottom: 12%;
	
}

main{
display: inline-block;
clear:both;
text-align: right;
}
