/*normalization for css, gets rid of browser defaults */
*{
  border:0;
  margin:0;
  padding:0;
  font-weight:inherit;
  font-size:inherit;
  font-style:inherit;
  font-family:inherit;
  text-decoration:inherit;
  color:inherit;
  background-color:transparent;
  box-sizing:border-box; /*subtracts padding from the element, otherwise it will be added*/
}

*focus{/*when clicking*/
  outline:0;
}

