.slick-prev:before, .slick-next:before{
  color:  #black !important;
  background-color: #black;

}
/*

.slideshow .project img{
width: 20%;

}*/


.slick-prev{
  position: absolute;
  left: 50px;
  /*height: 6000px;*/
  color:  #black !important;


}

.slick-next{
  position: absolute;
  right: 50px;
  font-size: 300%;
  color:  #black !important;

}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 50px !important;
  height: 50px !important;
  margin-top: -10px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;

}
button{
  background-color: #000;
  margin-top: -10px;
}

.slick-active, .slick-inactive{
  background-color: #000;
  margin-top: 0px;
}

.slick-dots li button {
  background-color: #FFF;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 50%;
}

.slick-dots li.slick-active  {
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 50%;
}

button::before{
  background-color: #000;
}

/*.slick-dots{
background-color: #ccc;
}*/

.securitypulse img{
  opacity: .75;
  filter: alpha(opacity=40);
}


.slick-prev:before, .slick-next:before { font-family: "slick";
font-size: 40px;
line-height: 1;
padding-top: 0px;
padding-bottom: 8px;
border-radius: 10px;
color: grey;
opacity: 0.75;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; }


.slick-prev:before { content: "‹"; }
[dir="rtl"] .slick-prev:before { content: "›"; }

[dir="rtl"] .slick-next { left: -10px; top: 70px; right: auto; }
.slick-next:before { content: "›"; }
[dir="rtl"] .slick-next:before { content: "‹"; }

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
    padding-top: 0px;
    padding-bottom: 8px;
    border-radius: 10px;
}

.slick-slide {
  margin: .20%;
  }


/*
.projects{
margin-right: 20%;
margin-left: 20%;
}


.slick-slide img{
margin-right: 10%;

}



.slide-show .slick-track .policonnect img{
margin-right: 10px;
margin-left: 10px;
padding: 20%;
float

}*/
