html{
	/*background-image: url("../images/background.png");*/
	/*background-image: url("../images/bg-2-full.png");*/

}


body{
	/*background-image: url("../images/background.png");*/
	/*background-image: url("../images/bg-2-full.jpg");*/


	/*background-repeat: no-repeat;*/
	font-family: "Mondo Bongo", "Atomic Age", "Helvetica", "Sans";
	/*background-color: #cccccc;*/
}

/*main .portfolio-preview, portfolio-preview{
margin-left: auto;
margin-right: auto;
display: block;
margin-top: 5%;
}*/




.about{
	/*background-image: url("../images/bg-1-full.jpg");*/
	/*background-color: #FF0000;*/
	/*float:right;*/

}

.subsection {
	/*margin-left: 30%;
	margin-right: 30%;*/
	display: block;
	margin-bottom: 25%;
	padding-bottom: 25%;
	margin-left: 15px;
	font-weight: bold;
	letter-spacing: 2px;
}

.subsection *{
	font-weight: bold;
	/*line-height: 200%;*/
	letter-spacing: 2px;
}


.name{
	padding-bottom: 3%;
}


.about, .about p, .about h2 .about h1, .about h1{
	/*background-image: url("../images/bg-1-full.jpg");*/
	color: #ccc;
	background-color: #0E3636;
}

.about{
	background-color: #0E3636;
}


.panel{
	margin-bottom: 0;
}


.pro_photo{
	float:left;
	/*clear:both;*/
	/*margin-left: 30%;
	margin-right: 30%;*/
	/*padding-left: 40%;
	padding-right: 40%;*/
	max-width: 25%;
	display: inline;
	margin-left: 10%;
	margin-right: 15%;
	padding-top: 5%;
}

.portfolio-heading{
	margin-top:0;
	color: #ccc;

}

.portfolio{
	/*background-image: url("../images/bg-2-full.jpg");*/

	background-image: url("../images/bg-2-full.jpg");
  position: relative;
  max-width: 100%;
  overflow: hidden;
}

}

html *.{
	margin-right:0;
	padding-right:0;
}

#portfolio{
padding-top: 6%;
padding-bottom: 12%;

}
/*
html .js .flexbox .flexboxlegacy .canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths*/


/*
.main-nav li a{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	display: block;
	/*font-stretch: semi-expanded;*/
	/*font-size: 30px;*/
	/*margin-right: 130px;
}*/

/*body nav{
background:gray;
color: ;
}

ul li{
list-style: none;
}

body a{
text-decoration: none;
box-shadow: 3px 3px 3px #888888;
}

body img{
box-shadow: 10px 10px 5px black;


}


nav{
font-size: 300%;
}*/
