html{
	/*background-image: url("../images/background.png");*/

}


body{
	background-image: url("../images/background.png");
/*background-repeat: no-repeat;*/
font-family: "Mondo Bongo", "Atomic Age", "Helvetica", "Sans";
/*background-color: #cccccc;*/
}

body nav{
background:gray;
color: ;
}

ul li{
	list-style: none;
}

body a{
text-decoration: none;
box-shadow: 3px 3px 3px #888888;
}

body img{
box-shadow: 10px 10px 5px black;


}


nav{
font-size: 300%;
}
